{% extends 'layout.twig' %}

{% block body %}
<nav class="navmenu">
  <h2>Pannel Admin</h2>
  <a href="#">
    <i class="fas fa-home"></i>
  </a>
</nav>

<div class="container">
  <div class="container-map">
    <div class="map"></div>
  </div>
  <div id="containerForm" class="container-form">
    <form id="form" data-team-id="">
        <span class="material-icons icon-close">
          close
        </span>
        <div class="container-input">
          <div class="container-form-icons">
            <i class="fas fa-user"></i>
          </div>
          <div class="container-elt">
            <input id="nameInput" name="name" data-type="name" class="form-input" type="text">
            <label class="label-elt" for="nameInput">Nom de l'équipe</label>
          </div>
        </div>
        <div class="container-input">
          <div class="container-form-icons">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="container-elt">
            <input id="addressInput" name="address" data-type="address" class="form-input" type="text">
            <label class="label-elt" for="addressInput">Adresse de l'équipe</label>
          </div>
        </div>
        <div class="container-input">
          <div class="container-form-icons">
            <i class="fas fa-phone"></i>
          </div>
          <div class="container-elt">
            <input id="phoneInput" name="phone-number" data-type="phone_number" class="form-input" type="text">
            <label class="label-elt" for="phoneInput">Numero de téléphone</label>
          </div>
        </div>
        <div class="container-input">
          <div class="container-form-icons">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="container-elt">
            <input id="emailInput" name="email" data-type="email" class="form-input" type="email">
            <label class="label-elt" for="emailInput">Email</label>
          </div>
        </div>
        <button id="submit-btn" class="btn" type="submit">Mettre à jour</button>
      </form>
  </div>
  <div class="big-container">
    {% include "common/_table.twig" %}
  </div>
{% endblock %}

