{% extends 'layout.twig' %}

{% block body %}
<nav class="navmenu">
  <h2>Pannel Admin</h2>
  <a href="#">
    <i class="fas fa-home"></i>
  </a>
</nav>

<div class="container">
  <div class="container-map">
    <div class="map"></div>
  </div>
  <div id="containerForm" class="container-form">
    <form id="form">
        <span class="material-icons icon-close">
          close
        </span>
        <label for="">Nom de l'équipe</label>
        <input type="text">
        <label for="">Adresse</label>
        <input type="text">
        <label for="">Numéro de téléphone</label>
        <input type="text">
        <label for="">Email</label>
        <input type="email">
        <button class="btn" type="submit">Mettre à jour</button>
      </form>
  </div>
  <div class="big-container">
    <div class="container-table">
      <table>
        <thead>
          <tr>
            <th>
              <i id="add-team" class="fas fa-plus-square"></i>Nom des équipes
            </th>
          </tr>
        </thead>
        <tbody>
          {% for team in teamsData %}
          <tr>
            <td>
              {{team.name}}
            </td>
            <td>
              <span class="container-icons">
                <span class="material-icons icons-delete">
                  delete
                </span>
                <span data-team-id="{{team.id}}" class="material-icons icons-edit js-edit">
                  edit
                </span>
              </span>
            </td>
          </tr>
          {% endfor %}
          {# <tr>
            <td>
              Equipe 2
            </td>
            <td>
              <span class="container-icons">
                <span class="material-icons icons-delete">
                  delete
                </span>
                <span class="material-icons icons-edit js-edit">
                  edit
                </span>
              </span>
            </td>
          </tr> #}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

