/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */
/* POLICE */

@font-face {
  font-family: 'OpenSans';
  src: url('/public/font/OpenSans-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color:#eeeeee;
  font-family: 'Roboto', sans-serif;
}

.navmenu {
  background-color: #eeeeee;

  width: 100vw;
  height: 10vh;

  box-shadow: 1px 2px 10px grey;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navmenu h2:first-child {
  font-size: 34px;

  margin-left: 1em;
}

.navmenu a>i:first-child {
  font-size: 36px;
  color: black;
  margin-left: 1em;
}

.container {
  display: flex;
  flex-direction: row;
  
  width: 100vw;
  height: 89vh;
}

.container-map {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  background-color: cadetblue;
  width: 100%;
  height: 80%;
  margin-left: 3em;
}

.container-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 500px;
  
  position: relative;
  
  border-radius: 2%;
  box-shadow: 2px 2px 5px grey;
}

/* INPUT */
.container-form-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.container-input{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 1em;
}

.container-input>.container-form-icons>i:first-child{
  /* margin-right: 10px; */
  font-size: 24px;
}

.container-elt {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.container-elt>label {
  font-size: 14px;
  transition: ease-in-out 0.2s;
  position: absolute;
  top: 4px;
  left: 2px;
}

.container-elt>input {
  padding-top: 20px;
  border: none;
  border-bottom: 1px black solid;
  outline: none;
  background-color: #f0f0f0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-bottom: 1px;
  width: 100%;
}

.container-elt>input:hover {
  background-color: #dfdfdf;
}

.container-elt>input:focus {
  margin-bottom: 0;
  border-bottom-color: #6200ee;
  border-width: 2px;
  background-color: #d4d4d4;
}

.container-elt>input:focus+label {
  font-size: 12px; 
  color: #6200ee;
  top: 2px;
}

form button {
  margin-top: 1em;
  font-size: 20px;
  padding: 10px;
  
  border: 1px solid black;
  color: black; 
  text-align: center;
}

form button:hover {
  border: 1px solid #6200ee;
  background-color: #dfdfdf;
  color: #6200ee;
}

form button:active {
  border-color: transparent;
  background-color: #6200ee;
  color: white;
}

.icon-close {
  color: red;
  position: absolute;

  top: 15px;
  left: 460px;
  cursor: pointer;
}

/* TABLE */
.big-container {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;  
}

.container-table {
  width: 650px;
  height: 500px;
  background-color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 1%;
  transition: ease-in-out 0.3s;
}

.container-table:hover {
  box-shadow: 2px 2px 8px grey;
  transition: ease-in-out 0.3s;
}

/* .container-table table {
  width: 250px;
  height: 100px;
} */

.container-table table thead {
  border-bottom: 2px solid grey;
}

th {
  font-size: 26px;
  /* width: 250px;
  height: 40px; */
}

td {
  font-size: 26px;
  /* width: 250px;
  height: 25px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

tbody>tr:hover {
  background-color: #f3f3f3;
}

tbody>tr>td>.container-icons{
  visibility: hidden;
}

tbody>tr:hover>td:last-child>.container-icons,
tbody>tr>td:last-child:hover>.container-icons{
  visibility: visible;
  background-color: #f3f3f3;
}

/* tbody>tr:hover>td:last-child{
  visibility: visible;
  background-color: #e9e9e9;
} */



/* tbody>tr:hover {
  background-color: #e9e9e9;
}
tbody>tr>td:nth-child(2){
  visibility: hidden;
} 
tbody>tr:last-child:hover{
  visibility: visible;
}
tbody>tr:hover>td:nth-child(2) {
  visibility: visible;
} */

.container-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.icons-delete:hover {
  color: #b60000;
  cursor: pointer;
}

.icons-edit:hover {
  color: #818181;
  cursor: pointer;
}

#add-team{
  margin-right: 1em;
}

#add-team:hover {
  color: rgb(0, 165, 0);
  cursor: pointer;
}

